version: '3'
services:
  code-server:
    container_name: code-server
    build: .
    stdin_open: true
    tty: true
    entrypoint: 'code-server serve-local --accept-server-license-terms --port=8001 --host=${HOST}'
    volumes:
      - ${DIRECTORY}/config/code-server:/root
      - ${DIRECTORY}/code:/workspace
    ports:
      - 8001:8001
    labels:
      - "traefik.http.routers.code-server.rule=Host(`dev.cheekysim.com`)"
      - "traefik.http.routers.code-server.middlewares=code-server-auth,code-server-token"
      - "traefik.http.middlewares.code-server-token.headers.customresponseheaders.Set-Cookie=vscode-tkn=${TOKEN}; Max-Age=604800; SameSite=Lax"
      - "traefik.http.middlewares.code-server-auth.basicauth.users=admin:$$apr1$$X6kie6Kv$$Is22qC87hGx6kNAgyIW8d1"
    networks:
      - traefik
    restart: unless-stopped

networks:
  traefik:
    name: traefik_default
