version: '3'
services:
  code-server:
    container_name: code-server
    pull_policy: build
    build: .
    stdin_open: true
    tty: true
    entrypoint: 'code-server serve-local --accept-server-license-terms --without-connection-token --quality=insiders --port=8001 --host=$$(cat /etc/hosts | awk "/[0-9][0-9][0-9]\.[0-9][0-9]\.[0-9]\.[0-9]/{print $1}")'
    volumes:
      - ${DIRECTORY}/config/code-server:/root
      - ${DIRECTORY}/code:/root/workspace
    ports:
      - 8001:8001
    labels:
      - "traefik.http.routers.code-server.rule=Host(`dev.cheekysim.com`)"
      - "traefik.http.routers.code-server.middlewares=code-server-auth"
      - "traefik.http.middlewares.code-server-auth.basicauth.users=admin:$$apr1$$X6kie6Kv$$Is22qC87hGx6kNAgyIW8d1"
    networks:
      - traefik
    restart: unless-stopped

networks:
  traefik:
    name: traefik_default
